.embedded-discord-msgs {list-style-type: none;margin: .5em 0 0 0;padding: .95em .5em;border-radius: 5px;font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;text-rendering: optimizeLegibility
}

.embedded-discord-msgs li {padding: 0;margin: 0
}

.embedded-discord-msgs li:hover {background: var(--background-modifier-hover)
}

.embedded-discord-msgs * {margin: 0;padding: 0;border: 0;font-weight: inherit;font-style: inherit;font-family: inherit;vertical-align: baseline
}

.embedded-discord-msgs a {color: var(--text-link);text-decoration: none;cursor: pointer
}

.focusable {position: relative
}

.anchor {color: var(--text-link);text-decoration: none
}

.anchorUnderlineOnHover:hover {text-decoration: underline
}

.size32- {font-size: 32px;line-height: 40px
}

.emoji {-o-object-fit: contain;object-fit: contain;width: 1.375em;height: 1.375em;vertical-align: bottom
}

@font-face {font-family: Whitney;font-weight: 300;src: url(https://clh.sh/files/fonts/whitney/whitney.woff) format("woff"); font-display: swap;
}

@font-face {font-family: Whitney;font-weight: 400;src: url(https://clh.sh/files/fonts/whitney/whitney.woff) format("woff"); font-display: swap;
}

@font-face {font-family: Whitney;font-weight: 500;src: url(https://clh.sh/files/fonts/whitney/whitney.woff) format("woff"); font-display: swap;
}

@font-face {font-family: Whitney;font-weight: 600;src: url(https://clh.sh/files/fonts/whitney/whitney.woff) format("woff"); font-display: swap;
}

@font-face {font-family: Whitney;font-weight: 700;src: url(https://clh.sh/files/fonts/whitney/whitney.woff) format("woff"); font-display: swap;
}

.theme-dark {--header-primary:#fff;--header-secondary:#b9bbbe;--text-normal:#dcddde;--text-muted:#72767d;--text-link:#00b0f4;--channels-default:#8e9297;--interactive-normal:#b9bbbe;--interactive-hover:#dcddde;--interactive-active:#fff;--interactive-muted:#4f545c;--background-primary:#36393f;--background-secondary:#2f3136;--background-secondary-alt:#292b2f;--background-tertiary:#202225;--background-accent:#4f545c;--background-floating:#18191c;--background-mobile-primary:#36393f;--background-mobile-secondary:#2f3136;--background-modifier-hover:rgba(79,84,92,0.16);--background-modifier-active:rgba(79,84,92,0.24);--background-modifier-selected:rgba(79,84,92,0.32);--background-modifier-accent:hsla(0,0%,100%,0.06);--background-mentioned:rgba(250,166,26,0.05);--background-mentioned-hover:rgba(250,166,26,0.08);--background-message-hover:rgba(4,4,5,0.07);--scrollbar-thin-thumb:#202225;--scrollbar-thin-track:transparent;--scrollbar-auto-thumb:#202225;--scrollbar-auto-track:#2e3338;--scrollbar-auto-scrollbar-color-thumb:#202225;--scrollbar-auto-scrollbar-color-track:#2f3136;--elevation-stroke:0 0 0 1px rgba(4,4,5,0.15);--elevation-low:0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);--elevation-medium:0 4px 4px rgba(0,0,0,0.16);--elevation-high:0 8px 16px rgba(0,0,0,0.24);--logo-primary:#fff;--focus-primary:#00b0f4;--guild-header-text-shadow:0 1px 1px rgba(0,0,0,0.4);--channeltextarea-background:#40444b;--activity-card-background:#202225;--textbox-markdown-syntax:#8e9297;--deprecated-card-bg:rgba(32,34,37,0.6);--deprecated-card-editable-bg:rgba(32,34,37,0.3);--deprecated-store-bg:#36393f;--deprecated-quickswitcher-input-background:#72767d;--deprecated-quickswitcher-input-placeholder:hsla(0,0%,100%,0.3);--deprecated-text-input-bg:rgba(0,0,0,0.1);--deprecated-text-input-border:rgba(0,0,0,0.3);--deprecated-text-input-border-hover:#040405;--deprecated-text-input-border-disabled:#202225;--deprecated-text-input-prefix:#dcddde}

.theme-light {--header-primary:#060607;--header-secondary:#4f5660;--text-normal:#2e3338;--text-muted:#747f8d;--text-link:#0067e0;--channels-default:#6a7480;--interactive-normal:#4f5660;--interactive-hover:#2e3338;--interactive-active:#060607;--interactive-muted:#c7ccd1;--background-primary:#fff;--background-secondary:#f2f3f5;--background-secondary-alt:#ebedef;--background-tertiary:#e3e5e8;--background-accent:#747f8d;--background-floating:#fff;--background-mobile-primary:#f8f9f9;--background-mobile-secondary:#fff;--background-modifier-hover:rgba(116,127,141,0.08);--background-modifier-active:rgba(116,127,141,0.16);--background-modifier-selected:rgba(116,127,141,0.24);--background-modifier-accent:rgba(6,6,7,0.08);--background-mentioned:rgba(250,166,26,0.1);--background-mentioned-hover:rgba(250,166,26,0.2);--background-message-hover:rgba(6,6,7,0.02);--scrollbar-thin-thumb:rgba(79,84,92,0.3);--scrollbar-thin-track:transparent;--scrollbar-auto-thumb:#ccc;--scrollbar-auto-track:#f2f2f2;--scrollbar-auto-scrollbar-color-thumb:#e3e5e8;--scrollbar-auto-scrollbar-color-track:#f2f3f5;--elevation-stroke:0 0 0 1px rgba(6,6,7,0.08);--elevation-low:0 1px 0 rgba(6,6,7,0.1),0 1.5px 0 rgba(6,6,7,0.025),0 2px 0 rgba(6,6,7,0.025);--elevation-medium:0 4px 4px rgba(0,0,0,0.08);--elevation-high:0 8px 16px rgba(0,0,0,0.16);--logo-primary:#7289da;--focus-primary:#00b0f4;--guild-header-text-shadow:0 1px 1px hsla(0,0%,100%,0.4);--channeltextarea-background:#ebedef;--activity-card-background:#fff;--textbox-markdown-syntax:#6a7480;--deprecated-card-bg:#f8f9f9;--deprecated-card-editable-bg:rgba(246,246,247,0.6);--deprecated-store-bg:#f8f9f9;--deprecated-quickswitcher-input-background:#fff;--deprecated-quickswitcher-input-placeholder:rgba(79,84,92,0.3);--deprecated-text-input-bg:rgba(79,84,92,0.02);--deprecated-text-input-border:rgba(79,84,92,0.3);--deprecated-text-input-border-hover:#b9bbbe;--deprecated-text-input-border-disabled:#dcddde;--deprecated-text-input-prefix:#b9bbbe}

.svg-2 {position: absolute
}

.icon-25 {width: 24px;height: 24px;-ms-flex-negative: 0;flex-shrink: 0
}

.wrapper-1 svg {display: block
}

.form-2 {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;max-height: 660px
}

@media (max-width: 485px) and (max-height:550px) {.form-2 {display:block}
}

.title-159 {display: block;-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto
}

.text-1 {margin-bottom: 16px
}

.text-1 {color: var(--interactive-normal);font-size: 16px;font-weight: 500;line-height: 20px;text-align: center
}

.img-13 {width: 149px;height: 83px
}

.img-13 {margin-bottom: 16px
}

.container-W {text-align: center;margin-top: 16px
}

.img-32 {margin-bottom: 16px
}

.img-32 {width: 252px;height: 168px
}

.emoji-1 {background-position: 50%;background-repeat: no-repeat;width: 64px;height: 64px;cursor: pointer;-webkit-filter: grayscale(100%);filter: grayscale(100%);-webkit-transition: all .2s ease;transition: all .2s ease;-webkit-transition-property: -webkit-transform opacity filter;transition-property: -webkit-transform opacity filter;transition-property: transform opacity filter;transition-property: transform opacity filter,-webkit-transform opacity filter
}

.emoji-1:hover {-webkit-filter: none;filter: none
}

.emoji-1:hover {-webkit-transform: scale(1.06);transform: scale(1.06)
}

.theme-dark .emoji-1 {opacity: .4
}

.theme-dark .emoji-1:hover {opacity: 1
}

.theme-light .emoji-1 {opacity: .6
}

.theme-light .emoji-1:hover {opacity: 1
}

.wrapper-2 {position: relative;word-wrap: break-word;-webkit-user-select: text;-moz-user-select: text;-ms-user-select: text;user-select: text;-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;padding-right: 16px;min-height: 1.375rem
}

.compact-.wrapper-2 {padding-left: 80px
}

.compact-.wrapper-2,.cozy-3.wrapper-2 {padding-top: .125rem;padding-bottom: .125rem
}

.cozy-3.wrapper-2 {padding-left: 72px
}

.cozy-3 .contents {position: static
}

.compact- .contents {margin-left: -80px;padding-left: 80px;text-indent: calc(-80px - -1rem)
}

.zalgo.compact- .contents {overflow: hidden
}

.compact- .header-23 {display: inline
}

.cozy-3 .header-23 {position: relative;line-height: 1.375rem;min-height: 1.375rem;color: var(--text-muted);white-space: nowrap;word-wrap: pre-wrap
}

.zalgo.cozy-3 .header-23 {overflow: hidden
}

.avatar-1 {position: absolute;left: 16px;top: 4px;width: 40px;height: 40px;border-radius: 50%;overflow: hidden;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;pointer-events: none;z-index: 1;background-image: url('https://cdn.discordapp.com/embed/avatars/3.png'); background-size: cover; text-indent: -9999vmax
}

.avatar-1.clickable-1 {pointer-events: auto
}

.avatar-1.clickable-1:active {-webkit-transform: translateY(1px);transform: translateY(1px)
}

.timestamp {display: inline-block;height: 1.25rem;cursor: default;pointer-events: none;font-weight: 500
}

.timestamp.latin24CompactTimeStamp {width: 3.1rem
}

.cozy-3 .timestamp {font-size: .75rem;line-height: 1.375rem;color: var(--text-muted);vertical-align: baseline;margin-left: .25rem
}

.compact- .timestamp {text-align: right;font-size: .6875rem;line-height: 1.375rem;margin-right: .25rem;color: var(--text-muted);text-indent: 0
}

.username-1 {font-size: 1rem;font-weight: 500;line-height: 1.375rem;color: var(--header-primary);display: inline;vertical-align: baseline;position: relative
}

.compact- .header-23 .username-1,.cozy-3 .header-23 .username-1 {margin-right: .25rem
}

.username-1.clickable-1:hover {cursor: pointer;text-decoration: underline
}

@media (-webkit-max-device-pixel-ratio: 1) {.theme-light .username-1 {font-weight:600}
}

.messageContent {text-indent: 0
}

.zalgo .messageContent {overflow: hidden
}

.messageContent:empty {display: none
}

.compact- .messageContent {-webkit-user-select: text;-moz-user-select: text;-ms-user-select: text;user-select: text;display: inline;word-wrap: break-word
}

.compact- .messageContent .emoji {position: relative
}

.cozy-3 .messageContent {-webkit-user-select: text;-moz-user-select: text;-ms-user-select: text;user-select: text;margin-left: -72px;padding-left: 72px
}

.mention {border-radius: 3px;padding: 0 2px
}

.root-3 {margin-top: 2px
}

.username-2 {-ms-flex: 0 1 auto;flex: 0 1 auto;white-space: nowrap;text-overflow: ellipsis;overflow: hidden
}

.username-2 {-webkit-box-flex: 0
}

.size10-39 {font-size: 10px
}

.size12-3 {font-size: 12px
}


.imageWrapper {display: block;position: relative;-webkit-user-select: text;-moz-user-select: text;-ms-user-select: text;user-select: text;overflow: hidden;border-radius: 3px
}

.imageWrapper img {position: absolute
}

.imageWrapper:focus {outline: var(--text-link) auto 5px;-webkit-transition: outline 0s ease .15s;transition: outline 0s ease .15s
}

.imageZoom {cursor: nesw-resize;cursor: -webkit-zoom-in;cursor: zoom-in
}

.clickable {cursor: pointer
}

.wrapper-2 {position: relative
}

.emoji-270 {margin-right: 8px
}

.mentionWrapper {border-radius: 3px;padding: 0 2px;font-weight: 500;unicode-bidi: -moz-plaintext;unicode-bidi: plaintext;color: #7289da;background: rgba(114,137,218,.1);position: relative
}

.interactive {-webkit-transition: background-color 50ms ease-out,color 50ms ease-out;transition: background-color 50ms ease-out,color 50ms ease-out;cursor: pointer
}

.interactive:hover {color: #fff;background-color: #7289da
}

.markup {font-size: 1rem;line-height: 1.375rem;white-space: pre-wrap;white-space: break-spaces;word-wrap: break-word;-webkit-user-select: text;-moz-user-select: text;-ms-user-select: text;user-select: text;color: var(--text-normal);font-weight: 400
}

.markup a.anchor {color: var(--text-link);word-break: break-word;text-decoration: none;cursor: pointer
}

.markup a:hover {text-decoration: underline
}

.markup em {font-style: italic
}

.markup pre {border-radius: 4px;padding: 0;font-family: Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace;font-size: .75rem;line-height: 1rem;margin-top: 6px;white-space: pre-wrap;background-clip: border-box
}

.markup pre {-webkit-box-sizing: border-box;box-sizing: border-box;max-width: 90%
}

.markup code {font-size: .875rem;line-height: 1.125rem;text-indent: 0;white-space: pre-wrap;scrollbar-width: thin;scrollbar-color: var(--background-tertiary) var(--background-secondary);background: var(--background-secondary);border: 1px solid var(--background-tertiary)
}

@media (-webkit-max-device-pixel-ratio: 1) {.theme-light .markup {font-weight:500}
}

.count-30T-5 {-webkit-box-flex: 0;-ms-flex: 0 1 auto;flex: 0 1 auto;margin-right: 8px;color: var(--interactive-normal);white-space: nowrap;text-overflow: ellipsis;overflow: hidden
}

.count-30T-5:last-child {margin-right: 0
}




.embed {position: relative;display: grid;max-width: 520px;-webkit-box-sizing: border-box;box-sizing: border-box;border-radius: 4px
}

.embed .emoji {width: 18px;height: 18px
}

.embed pre {max-width: 100%;border: none
}

.embed code {border: none;background: var(--background-tertiary);scrollbar-color: var(--background-secondary) var(--background-tertiary)
}

.embedFull {border-left: 4px solid var(--background-tertiary);background: var(--background-secondary)
}

.embedDescription,.embedLink,.embedProvider,.embedTitle,.embedTitleLink {unicode-bidi: -moz-plaintext;unicode-bidi: plaintext;text-align: left
}

.grid {padding: .5rem 1rem 1rem .75rem;display: inline-grid;grid-template-columns: auto;grid-template-rows: auto
}

.grid.hasThumbnail {grid-template-columns: auto -webkit-min-content;grid-template-columns: auto min-content
}

.embedMargin {margin-top: 8px
}

.embedLink {text-decoration: none;cursor: pointer
}

.embedLink:hover {text-decoration: underline
}

.embedProvider {font-size: .75rem;line-height: 1rem;font-weight: 400;grid-column: 1/1
}

@media (-webkit-max-device-pixel-ratio: 1) {.theme-light .embedProvider {font-weight:500}
}

.embedTitle {font-size: 1rem;font-weight: 600;display: inline-block;grid-column: 1/1
}

.embedDescription {font-size: .875rem;line-height: 1.125rem;font-weight: 400;white-space: pre-line;grid-column: 1/1
}

@media (-webkit-max-device-pixel-ratio: 1) {.theme-light .embedDescription {font-weight:500}
}

.embedThumbnail {display: block
}

.embedThumbnail img {display: block;border-radius: 4px
}

.embedThumbnail {grid-row: 1/8;grid-column: 2/2;margin-left: 16px;margin-top: 8px;-ms-flex-negative: 0;flex-shrink: 0;justify-self: end
}

.embedDescription {color: var(--text-normal)
}

.embedProvider .embedLink {color: var(--interactive-normal)
}

.embedProvider .embedLink:hover {color: var(--interactive-hover)
}

.embedTitle {color: var(--header-primary)
}

.embedDescription,.embedProvider,.embedTitle {min-width: 0
}

.icon-2 {position: relative;color: #b9bbbe;width: 100%
}

.icon-2 {opacity: .6
}

.reactions {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-flex: 1;-ms-flex: 1 0 auto;flex: 1 0 auto;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-bottom: -.25rem;padding-bottom: .125rem
}

.reaction {border-radius: .25rem;cursor: pointer;-webkit-box-sizing: border-box;box-sizing: border-box;-ms-flex-negative: 0;flex-shrink: 0;margin-right: .125rem;margin-bottom: .125rem;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-transition: background-color .1s ease;transition: background-color .1s ease;background: var(--background-modifier-accent)
}

.reaction .emoji {width: 1rem;height: 1rem;margin: .125rem;min-width: auto;min-height: auto
}

.reaction .emoji-text {color: var(--text-normal);vertical-align: -.125rem;display: inline-block
}

.reactionInner {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;padding: 0 .375rem
}

.reactionCount {font-size: .875rem;font-weight: 500;margin-left: .375rem;text-align: center;color: var(--text-muted)
}

.reaction:hover .reactionCount {color: var(--interactive-hover)
}

.container-1 {display: grid;grid-auto-flow: row;grid-row-gap: .25rem;text-indent: 0;min-height: 0;min-width: 0;padding-top: .125rem;padding-bottom: .125rem
}

.container-1:empty {display: none
}

.container-1>* {justify-self: start;-ms-flex-item-align: start;align-self: start
}

.content-2 {font-weight: 400;font-size: 1rem;line-height: 1.375rem;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-ms-flex-wrap: wrap;flex-wrap: wrap
}

.content-2 a {cursor: pointer;color: var(--interactive-active);font-weight: 500
}

@media (-webkit-max-device-pixel-ratio: 1) {.theme-light .content-2 {font-weight:500}
}

.icon-3 {padding: 2px;width: 100%;height: 100%
}

.message-2 {padding-right: 48px!important
}

.cozyMessage-3.groupStart-23 {min-height: 2.75rem
}

.group-spacing-0 .groupStart-23 {margin-top: .0625rem
}

.group-spacing-4 .groupStart-23 {margin-top: .3125rem
}

.group-spacing-8 .groupStart-23 {margin-top: .5625rem
}

.group-spacing-16 .groupStart-23 {margin-top: 1.0625rem
}

.group-spacing-24 .groupStart-23 {margin-top: 1.5625rem
}

.message-7 {position: relative;border-radius: 4px;border: 1px solid var(--background-tertiary);background-color: var(--background-secondary);max-height: 200px
}

.header-3 {background-position: 50%;background-repeat: no-repeat;display: inline-block
}

.wrapper-O5i5-0 {min-height: 385px
}

.avatar-21196 {border: 5px solid
}

.theme-dark .avatar-21196 {border-color: #202225
}

.theme-light .avatar-21196 {border-color: #e3e5e8
}

.button-318 {padding: 4px;margin-left: 4px;margin-right: 4px
}

.container-3 {-webkit-box-align: center;-ms-flex-align: center;align-items: center;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-flex: 1;-ms-flex: 1;flex: 1;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;min-height: 400px;text-align: center;padding: 0 16px
}

.divider {z-index: 1;height: 0;border-top: thin solid var(--background-modifier-accent);display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;position: relative;-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;pointer-events: none;-webkit-box-sizing: border-box;box-sizing: border-box
}

.hasContent-1 {position: relative;left: auto;right: auto
}

.content-1 {display: block;-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;padding: 2px 4px;color: var(--text-muted);background: var(--background-primary);line-height: 13px;font-size: 12px;margin-top: -1px;font-weight: 600;border-radius: 8px
}

.theme-dark .subtitle-2 {color: #b9bbbe
}

.theme-light .subtitle-2 {color: #72767d
}

.title-3 {font-weight: 500;font-size: 16px;line-height: 24px;width: 100%
}

.icon-12887 {-webkit-transform: translateY(3px);transform: translateY(3px)
}

.button-2 {margin-top: 16px
}

.header-2 {background-color: var(--background-tertiary);padding: 16px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center
}

.background-1 {position: absolute;top: 0;left: 0;right: 0;bottom: 0;background-image: url(/assets/f0d744519439d994a0e123310dece658.svg);background-repeat: no-repeat;pointer-events: none
}

.title-1B {margin: 0 4px
}

.title-1B {white-space: nowrap;text-overflow: ellipsis;overflow: hidden
}

.to-2819 {border-radius: 50%
}

.to-2819 {position: relative;z-index: 1
}

.theme-dark .to-2819 {-webkit-box-shadow: 0 0 0 4px #2f3136;box-shadow: 0 0 0 4px #2f3136;background-color: #2f3136
}

.theme-light .to-2819 {-webkit-box-shadow: 0 0 0 4px #f6f6f7;box-shadow: 0 0 0 4px #f6f6f7;background-color: #f6f6f7
}

.item-3 {-webkit-box-sizing: border-box;box-sizing: border-box
}

.item-3 {padding: 0;background: 0 0;cursor: pointer;border-width: 1px 1px 1px 0;border-style: solid;white-space: nowrap;text-overflow: ellipsis;overflow: hidden
}

.item-3:first-child {border-left-width: 1px;border-radius: 3px 0 0 3px
}

.item-3:last-child {border-radius: 0 3px 3px 0
}

.item-3:disabled {opacity: .3;cursor: not-allowed
}

.theme-light .item-3 {border-color: #dcddde
}

.theme-dark .item-3 {border-color: #18191c
}

.check-2 {display: block;background: url(/assets/6acb20d5e709b34b6a7f36ec13648666.svg);width: 16px;height: 12px
}

.root-38 {text-align: center
}

.header-108 {margin-bottom: 8px
}

.icons-3 {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;margin-right: 8px
}

.icon-7 {margin: 0 2px 4px;vertical-align: middle
}

.wrapper-3 {display: grid;grid-template-columns: repeat(4,1fr);grid-template-rows: 1fr;justify-items: center;padding: 4px 0 6px 2px
}

.wrapper-3 {-webkit-box-align: center;-ms-flex-align: center;align-items: center
}

.chat-3 {min-width: 0;min-height: 0;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-flex: 1;-ms-flex: 1 1 auto;flex: 1 1 auto;overflow: hidden;background: var(--background-primary)
}

.chat-3 {position: relative
}

.chatContent- {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;min-width: 0;min-height: 0;-webkit-box-flex: 1;-ms-flex: 1 1 auto;flex: 1 1 auto
}

.wrapper-3 {-webkit-box-flex: 1;-ms-flex: 1 0 auto;flex: 1 0 auto;margin: auto;height: 100%;width: 100%
}

.body- {color: var(--text-normal);font-size: 16px;line-height: 20px;padding-bottom: 16px
}

.loading-n5I-9 {height: 200px
}

.root-22 {-webkit-box-align: center;-ms-flex-align: center;align-items: center;background-color: var(--background-secondary);border-radius: 4px;display: -webkit-box;display: -ms-flexbox;display: flex;font-size: 14px;line-height: 18px;padding: 8px 16px
}

.text-1 {font-size: 14px;font-weight: 500;line-height: 1.3
}

.theme-dark .text-1 {color: #fff
}

.theme-light .text-1 {color: #36393f
}

.button-3i {background-color: transparent;border: none;font-size: 12px;padding: 3px 10px;position: relative
}
.button-3k {font-size: 12px;margin-right: 8px;padding: 3px 10px;-webkit-app-region: no-drag
}

.subtitle-160 {margin-top: 4px
}
.container-1 {padding: 16px;position: relative;background-color: var(--background-secondary-alt)
}

.svg-1 {-webkit-box-sizing: border-box;box-sizing: border-box;width: 48px;height: 48px
}

.svg-1 {position: absolute;top: 0;left: 0
}

.description-2 {grid-area: description;color: currentColor;margin-bottom: 2px;font-size: 12px;line-height: 16px;white-space: normal
}

.header-26 img {vertical-align: bottom
}

.input-1 {font-weight: 600;font-size: 14px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none
}

.icon-30 {display: block;color: var(--interactive-normal)
}

.container-16 {position: absolute;top: 0;right: 0;bottom: 0;left: 0;background-color: var(--background-secondary);display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;z-index: 3000;overflow: hidden
}

.container-16 img {width: 200px;height: 200px
}

.size-2 {width: 800px;height: auto
}

.title-1T {margin-top: 16px;font-size: 24px;line-height: 30px;font-weight: 700
}

.container-1 {border-radius: 8px;border: 1px solid var(--background-modifier-accent);background-color: var(--background-primary);margin-bottom: 8px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;cursor: pointer;width: 100%;padding: 0
}

.container-1:hover {background-color: var(--background-modifier-hover)
}

.container-1:active {background-color: var(--background-modifier-active)
}

.title-14 {margin-top: 32px;font-weight: 700
}

.title-14 {text-align: center
}

.footer-1 {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-align: center;-ms-flex-align: center;align-items: center
}





.type-1 {height: 36px
}

.type-1 {width: 98px
}

@media screen and (max-width: 1024px) {.type-1 {display:none}
}

.header-1 {-webkit-box-sizing: border-box;box-sizing: border-box;color: #fff;font-size: 14px;font-weight: 400;height: 72px;padding: 8px 0;position: relative;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;width: 100%;z-index: 56
}
