svg.railroad-diagram {
    background-color: white;
}
svg.railroad-diagram path {
    stroke-width: 3;
    stroke: #444444;
    fill: rgba(0,0,0,0);
}

svg.railroad-diagram text {
    font: normal 14px 'Fira Code';
    text-anchor: middle;
    white-space: pre;
}
svg.railroad-diagram text.diagram-text {
    font-size: 12px;
}
svg.railroad-diagram text.diagram-arrow {
    font-size: 16px;
}
svg.railroad-diagram text.label {
    text-anchor: start;
}
svg.railroad-diagram text.comment {
    font-style: italic;
}
svg.railroad-diagram text.non-terminal {
    font-style: bold;
}
svg.railroad-diagram rect {
    stroke-width: 3;
    stroke: #444444;
    fill: white;
}
svg.railroad-diagram rect.group-box {
    stroke: gray;
    stroke-dasharray: 10 5;
    fill: none;
}
svg.railroad-diagram path.diagram-text {
    stroke-width: 3;
    stroke: #444444;
    fill: white;
    cursor: help;
}
svg.railroad-diagram g.diagram-text:hover path.diagram-text {
    fill: #eee;
}
