 ol.large > li {
    border-left: 10px solid #D1D1D1;
    padding-left: 4px;
    position: relative;
	margin-bottom: 1em;
}
ul.large {
    list-style-type: none;
}
ul.large > li {
    padding-left: 4px;
    position: relative;
	margin-bottom: 1em;
}
body { font-family: "Work Sans", sans-serif; padding: 0px; margin: 0px; overflow-x: hide;
}
h1 { font-family: "Montserrat", sans-serif; font-weight: normal;
}
h3 { font-family: "Montserrat", sans-serif; font-weight: normal;
}
img { max-width: 75vw; max-height: 75vh;
}
div.scroll { width: 10px; height: 0%; position: absolute; top: 0px; left: -10px; background: #96C0B7; z-index: 4;
}
code { font-family: 'IBM Plex Mono',monospace; display: block; background: #e1e1e1; border: 1px solid #d1d1d1; border-radius: 5px;
}
code.inline { display: inline; border: none; border-radius: 0px; font-family: monospace;
}
samp.terminal { font-family: 'IBM Plex Mono',monospace; background: #000; color: #fff; display: block; overflow-x: auto;
}
.smalltext {
font-size: 0.8em;
}
.bigtext {
    font-size: 1.2em;
}
a {
    text-decoration: underline;
    color: #4ECDC4;
}
samp.limitheight {
overflow: auto;
max-height: 200px;
}
div.scrollcover { width: 10px; height: 1em; position: absolute; bottom: -1em; left: -10px; background: #fff; z-index: 5;
}
p.caption {
margin: 0px;
}
b {
font-weight: bold;
}
em.warn { background: #ffcece; padding: 4px; border-left: 4px #e5a2a2 solid; display: block;
}
.diffshow .diff {
    color: #E18335;
}
.diffshow .diff.plus {
    color: #8FC93A;
}
.diffshow .diff.minus {
    color: #E03535;
}
header {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 600 !important;
    background: #ACD7EC;
    padding: 2em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    text-decoration: none !important;
    color: inherit !important;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header h1 {
    font-family: inherit;
    display: inline-block;
}
header h1.logo {
    margin-right: auto;
}
header p {
    margin: 0.25em;
}
header a {
    color: inherit;
}
main {
    padding: 10em;
    padding-top: 0px;
    padding-bottom: 0px;
}
@media only screen and (max-width: 6in) {
    main {
        padding: 1em;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    header {
        font-size: 0.75em;
    }
  }